@font-face {
    font-family: "Russo One";
    src: url("assets/fonts/RussoOne/RussoOne-Regular.ttf");
}

@font-face {
    font-family: "Hammersmith One";
    src: url("assets/fonts/HammersmithOne/HammersmithOne-Regular.ttf");
}

:root {
    --themecolor: #D86800;
    --black: #000000;
    --dark: #1A1A1A;
    --darkgray: #3a3a3a;
    --midgray: #545454;
    --lightgray: #8B8B8B;
    --boxedpaddingsides: max(4%, 16px);
    --transition: 0.25s;
    --angle: 0deg;
    --counterangle: calc(var(--angle) * -1);

    /* Breakpoints */

    --tabletbreakpoint: 768px;
    --anglewidepoint: 1024px;
    --maxwidth: 1400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

html {
    background: var(--black);
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100vh;
    min-height: 100dvh;
    /* overflow-x: hidden; */
}

body::before {
    background: var(--themecolor);
    opacity: 0.85;
}

body::after {
    background: url("assets/logo.svg");
    background-size: 150% !important;
    background-position: center;
    opacity: 0.20;
    filter: blur(12px);
    pointer-events: none;
    mix-blend-mode: color-dodge;
}

header {
    position: sticky;
    background: var(--black);
    filter: drop-shadow(0px 0px 12px var(--black));
    top: 0;
    width: 100%; 
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 100;
    border-bottom: 1px var(--themecolor) solid;
}

main {
    position: relative;
    min-height: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 100px;
    overflow: hidden;
}

.background-fill::before, .background-fill::after {
    content: '';
    position: absolute;
    width: 102%;
    height: 101%;
    background-size: cover;
    background-repeat: no-repeat;
    left: -1% !important;
    top: -1% !important;
}

.background-image::before {
    z-index: -2;
}

.background-image::after {
    z-index: -1;
}

main::before {
    background: url("assets/background-code.webp");
    background-position: center;
    opacity: 0.25;
    filter: blur(1.5px);
    mix-blend-mode: color-burn;
}

main::after {
    background: url("assets/background-app.webp");
    background-position: left;
    mix-blend-mode: overlay;
    opacity: 0.65;
    filter: blur(2.5px);
}

.header-content {
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxed-content {
    max-width: 1200px;
}

.boxed-side-padding {
    padding-left: var(--boxedpaddingsides);
    padding-right: var(--boxedpaddingsides);
}

.header-logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: min(12px + 0.25rem, 3vw);
    width: fit-content;
}

.header-logo img {
    width: min(56px + 0.5rem, 12vw);
    transition: var(--transition);
}

.header-logo:hover img {
    filter: drop-shadow(0px 0px 12px var(--themecolor));
}

.header-logo h1 {
    font-family: "Russo One";
    font-weight: 400;
    color: var(--lightgray);
    font-size: min(24px + 0.5rem, 6.5vw);
}

.main-content-container {
    position: relative;
    width: calc(97% - 2rem);
    z-index: 2;
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-content-container::before {
    background: linear-gradient(145deg,#00000070, #00000099);
    filter: drop-shadow(4px 4px 6px var(--black));
    transform: skew(var(--angle));
}

.main-content-container * {
    color: #fff;
    position: relative;
    z-index: 1;
}

.main-content-container, .main-content-container::before, .main-content-container::after {
    animation-name: transition-in;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-duration: 0.5s;
}

@keyframes transition-in {
    from { transform: rotateX(90deg) scale(0.75); opacity: 0; }
    to { opacity: 1; }
}

.angled-container {
    transform: skew(var(--angle));
}

.angled-container .angled-text div {
    display: inline-block;
    margin: 0 0.15em;
    transform: skew(var(--counterangle));
}

.angled-item {
    transform: skew(var(--counterangle));
}

.chris-image-container {
    overflow: clip;
    aspect-ratio: 1 / 1;
    width: min(400px, 100%);
    position: relative;
    filter: drop-shadow(2px 2px 6px var(--black));
    margin: -96px auto 0px;
}

.chris-image-background-filler, .chris-image-border-side-fillers {
    width: 100%;
    height: 70%;
    top: 100%;
    transform: translateY(-100%);
    position: absolute;
}

.chris-image-background-filler {
    border-top: min(9px, 2vw) var(--themecolor) solid;   
    top: calc(100% - 3px);
    z-index: 1;
}

.chris-image-background-filler::before {
    background: var(--themecolor);
    opacity: 0.8;
}

.chris-image-background-filler::after {
    background: url("assets/background-code.webp");
    transform: skew(var(--counterangle)) translateX(-25%);
    background-size: 100%;
    background-position: center;
    filter: blur(2px);
    width: 200%;
    opacity: 1;
    mix-blend-mode: luminosity;
}

.chris-image-border-side-fillers {
    border-right: min(6px, 1vw) var(--themecolor) solid;
    border-bottom: min(6px, 1vw) var(--themecolor) solid;
    border-left: min(6px, 1vw) var(--themecolor) solid;
    z-index: 3;
}

.chris-img {
    z-index: 2;
    width: 100%;
    top: 0%;
    left: 4%;
    position: absolute;
    transform: skew(var(--counterangle)) rotateY(180deg);
}

@media(min-width: 1024px) {
    .chris-img {
        width: 480px;
        left: -4%;
        top: 0px;
    }
    .chris-image-container {
        float: left;
        margin: -96px max(4%, 24px) 16px 0;
    }
    .main-content-container {
        width: calc(98% - 10rem);
    }
}

.heading-text, .heading-text * {
    font-family: "Russo One";
    font-size: min(28px + 0.5rem, 11vw);
    font-weight: 500;
    text-wrap: balance;
}

.theme-color, .theme-color * {
    color: var(--themecolor);
}

.saturate {
    filter: saturate(1.5);
}